
<!DOCTYPE html>

<html>

<% text %>

<head>
  <title><%= text.title %>></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/UIstyle.css">
  <link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
  <link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
</head>

<body id="grad" onload="editData()">
<center class="container">
	<div>
    <div class="row">
		    <div class="col-md-4 image-instr"><img src="/images/kehonkoostumus.png"></div>
        <div class="col-md-8">
          <ol>
            <li><%= text.instr1 %></li>
            <li><%= text.instr2 %></li>
            <li><%= text.instr3 %></li>
            <li><%= text.instr4 %></li>
            <li><%= text.instr5 %></li>
            <li><%= text.instr6 %></li>
            <li><%= text.instr7 %></li>
            <li><%= text.instr8 %></li>
         </ol>
       </div>
    </div>
	</div>
</center>

<script src="/js/inProcessPoster.js"></script>

<link rel="stylesheet" href="/css/inProcessPoster.css">
</body>
</html>
